RACK_ENV=development
PORT=3000

FACEBOOK_KEY=
FACEBOOK_SECRET=

GITHUB_KEY=
GITHUB_SECRET=

TWITTER_KEY=
TWITTER_SECRET=

ALLOW_UPDATE_VIDEO_SITE=false

DEFAULT_SCRAPER=webuildsg

STREAMER_URL=http://192.168.33.10/
