@import "~materialize-css/sass/components/color-variables";
$primary-color: rgb(223, 223, 223) !default;
$secondary-color: #3C74A3 !default;
@import "~materialize-css/sass/materialize";
.main-header {
    a {
        color: #41474C;
        overflow: hidden;
        &.brand-logo {
            display: inline;
            height: 66px;
        }
    }
}

.profile-nav {
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 7px;
    .salutation {
        font-weight: bold;
    }
}

.flash-panel {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}